<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>465650426613-hv2gq4k5nobgs3ndbunat4tphfv0mmv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465650426613-hv2gq4k5nobgs3ndbunat4tphfv0mmv9</string>
	<key>API_KEY</key>
	<string>AIzaSyBzhQUyCl2gAE0eOm2oJ8uHrYMpyz9E84c</string>
	<key>GCM_SENDER_ID</key>
	<string>465650426613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.co.apptitude.FirebaseStorageCacheDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-storagecache</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-storagecache.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:465650426613:ios:4b3e4d174f9a35f6</string>
	<key>DATABASE_URL</key>
	<string>https://fir-storagecache.firebaseio.com</string>
</dict>
</plist>